.header {
    font-size: 20pt;
    font-weight: 600;
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    color: #252625;
}

.title-name {
    font-family: 'Aleo';
    color: #252625;
    font-size: 1.5em;
}

.list-container {
    display: flex;
    align-self: stretch;
    margin-top: 5px;
}
.link-list, .link-list-items, .icon-list {
    color: #252625;
    text-decoration: none;
    list-style-type: none;
    font-family: "Unica One", sans-serif;
}
.link-list-items {
    margin: 10px;
}
.profession-title {
    font-family: "Unica One";
    font-size: .5em;
    display: block;
    padding: 10px;

  }
@media screen and (max-width: 700px) {
    .header {
        font-size: 14pt;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link-list, .icon-list {
        padding: 5px;
    }
    .link-list-items {
        display: inline-block;
    }
}
.icon {
    font-size: medium;   
}

