/* General Resume Page elements */
p {
    padding-bottom: 0px;
}

.resume-section {
    margin-top: 30px;
}


/* Skills Section */
.skill-cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 20px auto;
}
.skill-section {
    display: flex;
    margin: 5px 60px 10px 0px;
    flex-direction: column;
    min-width: fit-content;
}

.skill {
    margin: 0px;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        #ffffff 50%,
    );
}

/* Education Section */
.degree {
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
}

.degree-year {
    width: 100px;
}

/* Experience Section */
.job {
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
}

.job-years {
    width: 150px;
}
.job-title {
    font-weight: 600;
}