/* General Resume Page elements */
p {
    padding-bottom: 0px;
}

.resume-section {
    margin-top: 30px;
}


/* Skills Section */
.skill-cards {
    display: flex;
    min-width: 20vw;
    flex-wrap: wrap;
    margin: auto auto 20px auto;
}
.skill-section {
    display: flex;
    margin: 5px 60px 10px 0px;
    flex-direction: column;
    min-width: fit-content;
}

.skill {
    margin: 0px;
}

/* Education Section */
.degree {
    padding: 0px 5px auto auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 100px auto;
    grid-template-rows: 1fr;
    grid-template-areas: "degree-year degree-text";
    width: fit-content;
}
/* .degree-text {

} */
.degree-year {
    width: 100px;
}
.degree-title {
    font-weight: 600;
    display: block;
    width: fit-content;
    padding-right: 5px;
}
.degree-school-location {
    display: block;
    width: fit-content;
    padding-right: 5px;
    text-decoration: underline;
}
.degree-description {
    display: block;
    width: fit-content;
    padding-right: 5px; 
}

/* Experience Section */
.job {
    padding: 0px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 150px auto;
    grid-template-rows: 1fr;
    grid-template-areas: "job-years job-text";
    width: fit-content;
}
.job-title {
    font-weight: 600;
    display: block;
    width: fit-content;
    padding-right: 5px;
}
.job-company-location {
    display: block;
    width: fit-content;
    padding-right: 5px;
}
.job-description {
    display: block;
    width: fit-content;
    padding-right: 5px; 
}
@media screen and (max-width: 700px) {
    .job, .job-title, .job-company-location, .degree, .degree-title, .degree-school-location{
        display: block;
    }  
}