@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Carter+One&family=Fugaz+One&family=Gruppo&family=Overlock&family=Poiret+One&family=Special+Elite&family=Unica+One&display=swap');


.app-container {
  font-family: "Baloo 2";
  color: #252625;
  width: 100%;
}
.component {
  margin: auto;
  padding: 10px 25vw 10px 5vw;
}
.home {
  margin: auto;
  display: flex;
  padding: 10px 25vw 10px 5vw;
  flex-wrap: wrap;
  align-content: center;
  min-height: 60vh;
}
@media screen and (max-width: 700px) {
  .component {
    margin: auto;
    padding: 10px;
  }
}

.emphasis-text {
  font-weight: 800;
  color: #252625;
  border-bottom: 3px solid #e77b3d;
  display: inline;
}

h1 {
  font-family: 'Special Elite';
  text-align: center;
}
h2 {
  font-family: 'Unica One';
}
h3 {
  font-family: 'Special Elite';
  color: #252625;
  font-size: 1em;
  line-height: 0.3;
  padding-top: 5px;
}
p {
  font-family: 'Baloo 2';
  padding-bottom: 11px;
}
a {
  text-decoration: none;
  border-bottom: 3px solid #e77b3d;
  color: #252625;
}

.icon {
  width: 1.1em;
}

ul {
  padding: 0px;
  list-style-type: none;
}